# Hepatitis Data Analysis

In [1]:
import pandas as pd

file_path = "../datasets/Hepatitis/hepatitis_csv.csv"
df = pd.read_csv(file_path, delimiter = ",")
df.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live

In [2]:
df.shape

(155, 20)

In [6]:
df.describe()

,age,bilirubin,alk_phosphate,sgot,albumin,protime
count,155.000000,149.000000,126.000000,151.00000,139.000000,88.000000
mean,41.200000,1.427517,105.325397,85.89404,3.817266,61.852273
std,12.565878,1.212149,51.508109,89.65089,0.651523,22.875244
min,7.000000,0.300000,26.000000,14.00000,2.100000,0.000000
25%,32.000000,0.700000,74.250000,31.50000,3.400000,46.000000
50%,39.000000,1.000000,85.000000,58.00000,4.000000,61.000000
75%,50.000000,1.500000,132.250000,100.50000,4.200000,76.250000
max,78.000000,8.000000,295.000000,648.00000,6.400000,100.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              155 non-null    int64
 1   sex              155 non-null    object
 2   steroid          154 non-null    object
 3   antivirals       155 non-null    bool
 4   fatigue          154 non-null    object
 5   malaise          154 non-null    object
 6   anorexia         154 non-null    object
 7   liver_big        145 non-null    object
 8   liver_firm       144 non-null    object
 9   spleen_palpable  150 non-null    object
 10  spiders          150 non-null    object
 11  ascites          150 non-null    object
 12  varices          150 non-null    object
 13  bilirubin        149 non-null    float64
 14  alk_phosphate    126 non-null    float64
 15  sgot             151 non-null    float64
 16  albumin          139 non-null    float64
 17  protime          88 non-null     float64
 18  histology        155 non-null    bool
 19  class            155 non-null    object
dtypes: bool(2), float64(5), int64(1), object(12)
memory usage: 22.2+ KB

In [9]:
# Create data subsets for different sex.  
male_df = df[df['sex'] == 'male']
female_df = df[df['sex'] == 'female']

print("Count of male : ", len(male_df))
print("Count of female : ", len(female_df))

male_df

Count of male :  16
Count of female :  139

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
20,22,male,True,True,True,False,False,True,False,False,False,False,False,0.9,48.0,20.0,4.2,64.0,False,live
24,25,male,False,True,False,False,False,True,False,False,False,False,False,0.4,45.0,18.0,4.3,70.0,False,live
27,58,male,True,False,True,False,False,True,True,False,True,False,False,1.4,175.0,55.0,2.7,36.0,False,live
32,41,male,True,True,True,True,True,True,False,False,False,False,False,0.7,81.0,53.0,5.0,74.0,False,live
33,26,male,False,False,False,False,False,True,True,False,False,False,False,0.5,135.0,29.0,3.8,60.0,False,live
37,20,male,False,False,True,True,True,False,True,True,True,False,False,2.3,150.0,68.0,3.9,NaN,False,live
47,28,male,True,False,True,True,False,True,True,False,False,False,False,1.8,191.0,420.0,3.3,46.0,False,live
59,45,male,False,False,True,True,False,True,False,True,False,False,False,1.0,85.0,75.0,NaN,NaN,False,live
77,34,male,False,True,False,False,False,True,True,False,False,False,False,0.6,30.0,24.0,4.0,76.0,False,live
83,67,male,False,False,True,True,False,True,False,NaN,NaN,NaN,NaN,1.5,179.0,69.0,2.9,NaN,False,live
84,62,male,True,False,True,True,False,True,True,False,True,False,False,1.3,141.0,156.0,3.9,58.0,False,live
90,50,male,False,False,True,False,False,False,True,True,True,False,False,0.9,230.0,117.0,3.4,41.0,True,live
115,69,male,True,False,True,False,False,True,False,False,False,False,False,3.2,119.0,136.0,NaN,NaN,True,live
125,34,male,True,False,True,True,True,False,True,False,True,False,False,0.7,70.0,24.0,4.1,100.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live

In [11]:
# Merge two subsets 
merged_df = pd.concat([male_df, female_df], ignore_index=True)
merged_df.head()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,22,male,True,True,True,False,False,True,False,False,False,False,False,0.9,48.0,20.0,4.2,64.0,False,live
2,25,male,False,True,False,False,False,True,False,False,False,False,False,0.4,45.0,18.0,4.3,70.0,False,live
3,58,male,True,False,True,False,False,True,True,False,True,False,False,1.4,175.0,55.0,2.7,36.0,False,live
4,41,male,True,True,True,True,True,True,False,False,False,False,False,0.7,81.0,53.0,5.0,74.0,False,live

In [13]:
# Sort Data using age, SGOT, PROTIME
sorted_df = df.sort_values(['age', 'sgot', 'protime'], ascending=True)
sorted_df[['sex','age', 'sgot', 'protime']]

        sex  age   sgot  protime
110  female    7   25.0      NaN
37     male   20   68.0      NaN
121  female   20  118.0     23.0
148  female   20  152.0      NaN
20     male   22   20.0     64.0
..      ...  ...    ...      ...
83     male   67   69.0      NaN
115    male   69  136.0      NaN
147  female   70  528.0     35.0
133  female   72   52.0     50.0
2    female   78   32.0      NaN

[155 rows x 4 columns]

In [14]:
# Transposing Data 
transposed_df = df.transpose()
transposed_df

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
age,30,50,78,31,34,34,51,23,39,30,...,31,41,70,20,36,46,44,61,53,43
sex,male,female,female,female,female,female,female,female,female,female,...,female,female,female,female,female,female,female,female,male,female
steroid,False,False,True,NaN,True,True,False,True,True,True,...,False,True,False,False,True,True,True,False,False,True
antivirals,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
fatigue,False,True,True,False,False,False,True,False,True,False,...,True,True,True,False,False,True,True,True,True,True
malaise,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,True,False,False
anorexia,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,False,True,False,False,False,False
liver_big,False,False,True,True,True,True,True,True,True,True,...,True,True,NaN,True,True,True,True,False,True,True
liver_firm,False,False,False,False,False,False,False,False,True,False,...,False,True,NaN,NaN,False,False,True,True,False,False
spleen_palpable,False,False,False,False,False,False,True,False,False,False,...,False,True,NaN,False,False,False,False,False,True,True
spiders,False,False,False,False,False,False,True,False,False,False,...,False,True,NaN,False,False,True,False,True,True,True
ascites,False,False,False,False,False,False,False,False,False,False,...,False,False,NaN,False,False,True,False,False,False,True
varices,False,False,False,False,False,False,False,False,False,False,...,False,True,NaN,False,False,True,False,False,True,False
bilirubin,1.0,0.9,0.7,0.7,1.0,0.9,NaN,1.0,0.7,1.0,...,1.2,4.2,1.7,0.9,0.6,7.6,0.9,0.8,1.5,1.2
alk_phosphate,85.0,135.0,96.0,46.0,NaN,95.0,NaN,NaN,NaN,NaN,...,75.0,65.0,109.0,89.0,120.0,NaN,126.0,75.0,81.0,100.0
sgot,18.0,42.0,32.0,52.0,200.0,28.0,NaN,NaN,48.0,120.0,...,173.0,120.0,528.0,152.0,30.0,242.0,142.0,20.0,19.0,19.0
albumin,4.0,3.5,4.0,4.0,4.0,4.0,NaN,NaN,4.4,3.9,...,4.2,3.4,2.8,4.0,4.0,3.3,4.3,4.1,4.1,3.1
protime,NaN,NaN,NaN,80.0,NaN,75.0,NaN,NaN,NaN,NaN,...,54.0,NaN,35.0,NaN,NaN,50.0,NaN,NaN,48.0,42.0
histology,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
class,live,live,live,live,live,live,die,live,live,live,...,live,die,die,live,live,die,live,live,live,die

In [16]:
# Melting Data to long format (Wide -> Long)
melt_df = pd.melt(df, id_vars=['age', 'sex', 'histology', 'class'], value_vars=['steroid', 'antivirals', 'fatigue', 'malaise', 'anorexia', 'liver_big', 'liver_firm', 'spleen_palpable', 'spiders', 'ascites', 'varices'], var_name = 'Symptom', value_name='Presence')
melt_df

      age     sex  histology class  Symptom Presence
0      30    male      False  live  steroid    False
1      50  female      False  live  steroid    False
2      78  female      False  live  steroid     True
3      31  female      False  live  steroid      NaN
4      34  female      False  live  steroid     True
...   ...     ...        ...   ...      ...      ...
1700   46  female       True   die  varices     True
1701   44  female       True  live  varices    False
1702   61  female       True  live  varices    False
1703   53    male       True  live  varices     True
1704   43  female       True   die  varices    False

[1705 rows x 6 columns]

In [19]:
# Casting data to wide format (Long -> Wide)
cast_df = melt_df.pivot_table(index='Symptom', columns='class', values='Presence', aggfunc='mean').reset_index()
cast_df

class          Symptom       die      live
0             anorexia    0.3125  0.180328
1           antivirals    0.0625  0.178862
2              ascites  0.451613   0.05042
3              fatigue    0.9375   0.57377
4            liver_big  0.888889  0.813559
5           liver_firm  0.481481  0.401709
6              malaise   0.71875  0.311475
7              spiders  0.709677  0.243697
8      spleen_palpable  0.387097  0.151261
9              steroid     0.375  0.540984
10             varices  0.354839  0.058824