In [1]:
import pandas as pd
from IPython.display import display

In [10]:
df=pd.read_csv('forestfires.csv')

display(df)

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [3]:
df.dtypes

X          int64
Y          int64
month     object
day       object
FFMC     float64
DMC      float64
DC       float64
ISI      float64
temp     float64
RH         int64
wind     float64
rain     float64
area     float64
dtype: object

In [14]:
# a. Create data subsets by making classes for amount of region affected.(e.g. NotAffected, Partially affected, Mostlyaffected). 

def classify_area(area):
    if area == 0:
        return 'NotAffected'
    elif area <= 30:
        return 'PartiallyAffected'
    else:
        return 'MostlyAffected'
    
df['RegionalClass']=df['area'].apply(classify_area)

NotAffected_subset=df[df['RegionalClass']=='NotAffected']
PartiallyAffected_subset=df[df['RegionalClass']=='PartiallyAffected']
MostlyAffected_subset=df[df['RegionalClass']=='MostlyAffected']


display(NotAffected_subset.head())
display(PartiallyAffected_subset.head())
display(MostlyAffected_subset.head())

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,RegionalClass
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,NotAffected
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,NotAffected
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,NotAffected
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,NotAffected
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,NotAffected

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,RegionalClass
138,9,9,jul,tue,85.8,48.3,313.4,3.9,18.0,42,2.7,0.0,0.36,PartiallyAffected
139,1,4,sep,tue,91.0,129.5,692.6,7.0,21.7,38,2.2,0.0,0.43,PartiallyAffected
140,2,5,sep,mon,90.9,126.5,686.5,7.0,21.9,39,1.8,0.0,0.47,PartiallyAffected
141,1,2,aug,wed,95.5,99.9,513.3,13.2,23.3,31,4.5,0.0,0.55,PartiallyAffected
142,8,6,aug,fri,90.1,108.0,529.8,12.5,21.2,51,8.9,0.0,0.61,PartiallyAffected

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,RegionalClass
217,1,3,sep,mon,88.6,91.8,709.9,7.1,12.4,73,6.3,0.0,30.32,MostlyAffected
218,4,5,sep,wed,92.9,133.3,699.6,9.2,19.4,19,1.3,0.0,31.72,MostlyAffected
219,6,5,mar,mon,90.1,39.7,86.6,6.2,15.2,27,3.1,0.0,31.86,MostlyAffected
220,8,6,aug,sun,90.2,99.6,631.2,6.3,16.2,59,3.1,0.0,32.07,MostlyAffected
221,3,4,sep,fri,93.3,141.2,713.9,13.9,18.6,49,3.6,0.0,35.88,MostlyAffected

In [15]:
# b. Merge two subsets 

merged_data=pd.concat([NotAffected_subset,MostlyAffected_subset])
display(merged_data)

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,RegionalClass
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,NotAffected
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,NotAffected
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,NotAffected
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,NotAffected
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,NotAffected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,4,4,aug,tue,95.1,141.3,605.8,17.7,19.4,71,7.6,0.0,46.70,MostlyAffected
493,1,3,aug,fri,95.9,158.0,633.6,11.3,27.5,29,4.5,0.0,43.32,MostlyAffected
498,6,5,aug,tue,96.1,181.1,671.2,14.3,33.3,26,2.7,0.0,40.54,MostlyAffected
504,4,3,aug,wed,94.5,139.4,689.1,20.0,28.9,29,4.9,0.0,49.59,MostlyAffected
513,2,4,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,MostlyAffected

In [6]:
# c. Sort Data using Temperature, wind and area. 

sorted_temp=df.sort_values(by='temp',ascending=False)           #separate

sorted_data=df.sort_values(by=['temp','wind','area'],ascending=False)       #together

sorted_data.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,RegionalClass
498,6,5,aug,tue,96.1,181.1,671.2,14.3,33.3,26,2.7,0.0,40.54,MostlyAffected
484,2,5,aug,sun,94.9,130.3,587.1,14.1,33.1,25,4.0,0.0,26.43,PartiallyAffected
496,4,5,aug,mon,96.2,175.5,661.8,16.8,32.6,26,3.1,0.0,2.77,PartiallyAffected
491,4,4,aug,thu,95.8,152.0,624.1,13.8,32.4,21,4.5,0.0,0.00,NotAffected
492,1,3,aug,fri,95.9,158.0,633.6,11.3,32.4,27,2.2,0.0,0.00,NotAffected

In [7]:
# d. Transposing

transposed_data=df.head(4).T

transposed_data

                         0            1            2            3
X                        7            7            7            8
Y                        5            4            4            6
month                  mar          oct          oct          mar
day                    fri          tue          sat          fri
FFMC                  86.2         90.6         90.6         91.7
DMC                   26.2         35.4         43.7         33.3
DC                    94.3        669.1        686.9         77.5
ISI                    5.1          6.7          6.7          9.0
temp                   8.2         18.0         14.6          8.3
RH                      51           33           33           97
wind                   6.7          0.9          1.3          4.0
rain                   0.0          0.0          0.0          0.2
area                   0.0          0.0          0.0          0.0
RegionalClass  NotAffected  NotAffected  NotAffected  NotAffected

In [8]:
# e. Melting Data to long format

melted_data= pd.melt(df,id_vars=['month'],value_vars=['temp','wind','rain'])

display(melted_data)

     month variable  value
0      mar     temp    8.2
1      oct     temp   18.0
2      oct     temp   14.6
3      mar     temp    8.3
4      mar     temp   11.4
...    ...      ...    ...
1546   aug     rain    0.0
1547   aug     rain    0.0
1548   aug     rain    0.0
1549   aug     rain    0.0
1550   nov     rain    0.0

[1551 rows x 3 columns]

In [9]:
# f. Casting data to wide format  

casted_data= melted_data.pivot_table(index='month',columns='variable',values='value',aggfunc='sum').reset_index()

casted_data

variable month  rain    temp   wind
0          apr   0.0   108.4   42.0
1          aug  10.8  3980.2  751.9
2          dec   0.0    40.7   68.8
3          feb   0.0   192.7   75.1
4          jan   0.0    10.5    4.0
5          jul   0.2   707.5  119.5
6          jun   0.0   348.4   70.3
7          mar   0.2   706.5  268.3
8          may   0.0    29.3    8.9
9          nov   0.0    11.8    4.5
10         oct   0.0   256.4   51.9
11         sep   0.0  3373.3  611.9