In [24]:
import pandas as pd
from IPython.display import display
# Define the correct column names as per dataset description
column_names = [
    "Class", "Age", "Sex", "Steroid", "Antivirals", "Fatigue", "Malaise", "Anorexia",
    "Liver_Big", "Liver_Firm", "Spleen_Palpable", "Spiders", "Ascites", "Varices",
    "Bilirubin", "Alk_Phosphate", "SGOT", "Albumin", "Protime", "Histology"
]

# Load the Hepatitis dataset
df = pd.read_csv('hepatitis.csv', header=None, names=column_names)

# Display first few rows
display(df)

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver_Big,Liver_Firm,Spleen_Palpable,Spiders,Ascites,Varices,Bilirubin,Alk_Phosphate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [10]:
# Subset for males (assuming 'male' is encoded as 'M' or 1)
male_df = df[df['Sex'] == 1]  # or == 1 depending on encoding
female_df = df[df['Sex'] == 2]  # or == 2

print("Male Patients:")
display(male_df.head())

print("Female Patients:")
display(female_df.head())

Male Patients:

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver_Big,Liver_Firm,Spleen_Palpable,Spiders,Ascites,Varices,Bilirubin,Alk_Phosphate,SGOT,Albumin,Protime,Histology
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

Female Patients:

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver_Big,Liver_Firm,Spleen_Palpable,Spiders,Ascites,Varices,Bilirubin,Alk_Phosphate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
20,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.90,48,20,4.2,64,1
24,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.40,45,18,4.3,70,1
27,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.40,175,55,2.7,36,1
32,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.70,81,53,5.0,74,1

In [11]:
# Merge male and female data back together
merged_df = pd.concat([male_df, female_df], ignore_index=True)

print("Merged Data:")
display(merged_df)

Merged Data:

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver_Big,Liver_Firm,Spleen_Palpable,Spiders,Ascites,Varices,Bilirubin,Alk_Phosphate,SGOT,Albumin,Protime,Histology
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
151,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
152,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
153,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
154,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

In [23]:
# Convert SGOT and PROTIME to numeric (handle "?")
df["SGOT"] = pd.to_numeric(df["SGOT"], errors="coerce")
df["Protime"] = pd.to_numeric(df["Protime"], errors="coerce")

# Now sort
sorted_df = df.sort_values(by=["Age", "SGOT", "Protime"])
print("\nSorted Data:")
display(sorted_df[["Age", "SGOT", "Protime"]])

Sorted Data:

     Age   SGOT  Protime
110    7   25.0      NaN
37    20   68.0      NaN
121   20  118.0     23.0
148   20  152.0      NaN
20    22   20.0     64.0
..   ...    ...      ...
83    67   69.0      NaN
115   69  136.0      NaN
147   70  528.0     35.0
133   72   52.0     50.0
2     78   32.0      NaN

[155 rows x 3 columns]

In [25]:
transposed = df.transpose()

print("Transposed Data:")
display(transposed)

Transposed Data:

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
Class,2,2,2,2,2,2,1,2,2,2,...,2,1,1,2,2,1,2,2,2,1
Age,30,50,78,31,34,34,51,23,39,30,...,31,41,70,20,36,46,44,61,53,43
Sex,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,1
Steroid,1,1,2,?,2,2,1,2,2,2,...,1,2,1,1,2,2,2,1,1,2
Antivirals,2,2,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Fatigue,2,1,1,2,2,2,1,2,1,2,...,1,1,1,2,2,1,1,1,1,1
Malaise,2,2,2,2,2,2,2,2,2,2,...,2,2,1,2,2,1,2,1,2,2
Anorexia,2,2,2,2,2,2,1,2,2,2,...,2,2,1,2,2,1,2,2,2,2
Liver_Big,1,1,2,2,2,2,2,2,2,2,...,2,2,?,2,2,2,2,1,2,2
Liver_Firm,2,2,2,2,2,2,2,2,1,2,...,2,1,?,?,2,2,1,1,2,2
Spleen_Palpable,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,2,2,2,1,1
Spiders,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,1,2,1,1,1
Ascites,2,2,2,2,2,2,2,2,2,2,...,2,2,?,2,2,1,2,2,2,1
Varices,2,2,2,2,2,2,2,2,2,2,...,2,1,?,2,2,1,2,2,1,2
Bilirubin,1.00,0.90,0.70,0.70,1.00,0.90,?,1.00,0.70,1.00,...,1.20,4.20,1.70,0.90,0.60,7.60,0.90,0.80,1.50,1.20
Alk_Phosphate,85,135,96,46,?,95,?,?,?,?,...,75,65,109,89,120,?,126,75,81,100
SGOT,18,42,32,52,200,28,?,?,48,120,...,173,120,528,152,30,242,142,20,19,19
Albumin,4.0,3.5,4.0,4.0,4.0,4.0,?,?,4.4,3.9,...,4.2,3.4,2.8,4.0,4.0,3.3,4.3,4.1,4.1,3.1
Protime,?,?,?,80,?,75,?,?,?,?,...,54,?,35,?,?,50,?,?,48,42
Histology,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2

In [18]:
# Example: melt 5 rows on id_vars 'Class' and 'Age'
melted_df = pd.melt(df.head(), id_vars=["Class", "Age"])
print("\nMelted Data (long format):")
display(melted_df)

Melted Data (long format):

    Class  Age   variable value
0       2   30        Sex     2
1       2   50        Sex     1
2       2   78        Sex     1
3       2   31        Sex     1
4       2   34        Sex     1
..    ...  ...        ...   ...
85      2   30  Histology     1
86      2   50  Histology     1
87      2   78  Histology     1
88      2   31  Histology     1
89      2   34  Histology     1

[90 rows x 4 columns]

In [19]:
# Pivot back (wide) using melted data
cast_df = melted_df.pivot(index=["Class", "Age"], columns="variable", values="value").reset_index()
print("\nRe-casted Data (wide format):")
display(cast_df)

Re-casted Data (wide format):

variable,Class,Age,Albumin,Alk_Phosphate,Anorexia,Antivirals,Ascites,Bilirubin,Fatigue,Histology,Liver_Big,Liver_Firm,Malaise,Protime,SGOT,Sex,Spiders,Spleen_Palpable,Steroid,Varices
0,2,30,4.0,85,2,2,2,1.00,2,1,1,2,2,NaN,18.0,2,2,2,1,2
1,2,31,4.0,46,2,1,2,0.70,2,1,2,2,2,80.0,52.0,1,2,2,?,2
2,2,34,4.0,?,2,2,2,1.00,2,1,2,2,2,NaN,200.0,1,2,2,2,2
3,2,50,3.5,135,2,2,2,0.90,1,1,1,2,2,NaN,42.0,1,2,2,1,2
4,2,78,4.0,96,2,2,2,0.70,1,1,2,2,2,NaN,32.0,1,2,2,2,2