In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score,classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [9]:
column_names = [
    "age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach",
    "exang", "oldpeak", "slope", "ca", "thal", "target"
]

In [10]:
files=['./DSBDALExam DataSets/HeartDisease/Cleavland.csv','./DSBDALExam DataSets/HeartDisease/hung.csv','./DSBDALExam DataSets/HeartDisease/Switzerland.csv']
dfs=[pd.read_csv(f,names=column_names,header=None) for f in files]
dfs

[      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
 0    63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
 1    67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
 2    67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
 3    37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
 4    41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4
 ..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
 298  45.0  1.0  1.0     110.0  264.0  0.0      0.0    132.0    0.0      1.2
 299  68.0  1.0  4.0     144.0  193.0  1.0      0.0    141.0    0.0      3.4
 300  57.0  1.0  4.0     130.0  131.0  0.0      0.0    115.0    1.0      1.2
 301  57.0  0.0  2.0     130.0  236.0  0.0      2.0    174.0    0.0      0.0
 302  38.0  1.0  3.0     138.0  175.0  0.0      0.0    173.0    0.0      0.0

      slope   ca thal  target
 0      3.0  0.0  6.0       0
 1      2.0  3.0  3.0       2
 2      2.0  2.0  7.0       1
 3      3.0  0.0  3.0       0
 4      1.0  0.0  3.0       0
 ..     ...  ...  ...     ...
 298    2.0  0.0  7.0       1
 299    2.0  2.0  7.0       2
 300    2.0  1.0  7.0       3
 301    2.0  1.0  3.0       1
 302    1.0    ?  3.0       0

 [303 rows x 14 columns],
      age  sex  cp trestbps chol fbs restecg thalach exang  oldpeak slope ca  \
 0     28    1   2      130  132   0       2     185     0      0.0     ?  ?
 1     29    1   2      120  243   0       0     160     0      0.0     ?  ?
 2     29    1   2      140    ?   0       0     170     0      0.0     ?  ?
 3     30    0   1      170  237   0       1     170     0      0.0     ?  ?
 4     31    0   2      100  219   0       1     150     0      0.0     ?  ?
 ..   ...  ...  ..      ...  ...  ..     ...     ...   ...      ...   ... ..
 289   52    1   4      160  331   0       0      94     1      2.5     ?  ?
 290   54    0   3      130  294   0       1     100     1      0.0     2  ?
 291   56    1   4      155  342   1       0     150     1      3.0     2  ?
 292   58    0   2      180  393   0       0     110     1      1.0     2  ?
 293   65    1   4      130  275   0       1     115     1      1.0     2  ?

     thal  target
 0      ?       0
 1      ?       0
 2      ?       0
 3      6       0
 4      ?       0
 ..   ...     ...
 289    ?       1
 290    ?       1
 291    ?       1
 292    7       1
 293    ?       1

 [294 rows x 14 columns],
      age  sex  cp trestbps  chol fbs restecg thalach exang oldpeak slope ca  \
 0     32    1   1       95     0   ?       0     127     0      .7     1  ?
 1     34    1   4      115     0   ?       ?     154     0      .2     1  ?
 2     35    1   4        ?     0   ?       0     130     1       ?     ?  ?
 3     36    1   4      110     0   ?       0     125     1       1     2  ?
 4     38    0   4      105     0   ?       0     166     0     2.8     1  ?
 ..   ...  ...  ..      ...   ...  ..     ...     ...   ...     ...   ... ..
 118   70    1   4      115     0   0       1      92     1       0     2  ?
 119   70    1   4      140     0   1       0     157     1       2     2  ?
 120   72    1   3      160     0   ?       2     114     0     1.6     2  2
 121   73    0   3      160     0   0       1     121     0       0     1  ?
 122   74    1   2      145     0   ?       1     123     0     1.3     1  ?

     thal  target
 0      ?       1
 1      ?       1
 2      7       3
 3      6       1
 4      ?       2
 ..   ...     ...
 118    7       1
 119    7       3
 120    ?       0
 121    3       1
 122    ?       1

 [123 rows x 14 columns]]

In [12]:
# Combine all datasets into a single dataframe
df = pd.concat(dfs, ignore_index=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,70.0,1.0,4.0,115,0,0,1,92,1,0,2,?,7,1
716,70.0,1.0,4.0,140,0,1,0,157,1,2,2,?,7,3
717,72.0,1.0,3.0,160,0,?,2,114,0,1.6,2,2,?,0
718,73.0,0.0,3.0,160,0,0,1,121,0,0,1,?,3,1
719,74.0,1.0,2.0,145,0,?,1,123,0,1.3,1,?,?,1

In [ ]:
# Step 1: Data Cleaning
df.replace('?',np.nan,inplace=True)
df.dropna(inplace=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
508,47.0,1.0,4.0,150,226,0,0,98,1,1.5,2,0,7,1

In [15]:
# Convert all columns to appropriate numeric types
df = df.apply(pd.to_numeric)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
508,47.0,1.0,4.0,150.0,226.0,0.0,0.0,98.0,1.0,1.5,2.0,0.0,7.0,1

In [17]:
# Remove rows with negative values where logically not possible
non_negative_cols = ["age", "trestbps", "chol", "thalach", "oldpeak"]
for col in non_negative_cols:
    df = df[df[col] >= 0]

df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
508,47.0,1.0,4.0,150.0,226.0,0.0,0.0,98.0,1.0,1.5,2.0,0.0,7.0,1

In [18]:
from scipy.stats import zscore
z_scores = np.abs(zscore(df))
df = df[(z_scores < 3).all(axis=1)]

In [20]:
# Step 3: Data Transformation – Normalize Features
X = df.drop("target", axis=1)
y = df["target"].apply(lambda x: 1 if x > 0 else 0)  # Binary classification

scaler=StandardScaler()
X_scaled = scaler.fit_transform(X)

In [21]:
# Step 4: Split Data
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Step 5a: Logistic Regression Model
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_test)
acc_logreg = accuracy_score(y_test, y_pred_lr)

# Step 5b: kNN Model
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
acc_knn = accuracy_score(y_test, y_pred_knn)

# Step 6: Results
print("Logistic Regression Accuracy:", acc_logreg)
print("kNN Accuracy:", acc_knn )
print("\nClassification Report (Logistic Regression):\n", classification_report(y_test, y_pred_lr))
print("\nClassification Report (kNN):\n", classification_report(y_test, y_pred_knn))

Logistic Regression Accuracy: 0.8275862068965517
kNN Accuracy: 0.8275862068965517

Classification Report (Logistic Regression):
               precision    recall  f1-score   support

           0       0.83      0.83      0.83        29
           1       0.83      0.83      0.83        29

    accuracy                           0.83        58
   macro avg       0.83      0.83      0.83        58
weighted avg       0.83      0.83      0.83        58


Classification Report (kNN):
               precision    recall  f1-score   support

           0       0.83      0.83      0.83        29
           1       0.83      0.83      0.83        29

    accuracy                           0.83        58
   macro avg       0.83      0.83      0.83        58
weighted avg       0.83      0.83      0.83        58

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score,classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

df=pd.read_csv('./DSBDALExam DataSets/HeartDisease/heart.csv')

df.replace('?',np.nan,inplace=True)
df.dropna(inplace=True)
df = df.apply(pd.to_numeric)

for col in df.columns:
    df = df[df[col] >= 0]


from scipy.stats import zscore
z_scores = np.abs(zscore(df))
df = df[(z_scores < 3).all(axis=1)]

# Step 3: Data Transformation – Normalize Features
X = df.drop("target", axis=1)
y = df["target"].apply(lambda x: 1 if x > 0 else 0)  # Binary classification

scaler=StandardScaler()
X_scaled = scaler.fit_transform(X)


# Step 4: Split Data
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Step 5a: Logistic Regression Model
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_test)
acc_logreg = accuracy_score(y_test, y_pred_lr)

# Step 5b: kNN Model
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
acc_knn = accuracy_score(y_test, y_pred_knn)

# Step 6: Results
print("Logistic Regression Accuracy:", acc_logreg)
print("kNN Accuracy:", acc_knn )
print("\nClassification Report (Logistic Regression):\n", classification_report(y_test, y_pred_lr))
print("\nClassification Report (kNN):\n", classification_report(y_test, y_pred_knn))

In [ ]:
# df.replace('?',np.nan,inplace=True)
df.dropna(inplace=True)
df.apply(pd.to_numeric, errors='coerce')

numeric_cols=['sepal.length','sepal.width','petal.length','petal.width']
for col in numeric_cols:
    df=df[df[col]>=0]

from scipy.stats import zscore
z_score=np.abs(zscore(df[numeric_cols]))
df=df[(z_score<3).all(axis=1)]


from sklearn.preprocessing import LabelEncoder,StandardScaler

le=LabelEncoder()
df["variety"]=le.fit_transform(df["variety"])

sc=StandardScaler()
df[numeric_cols]=sc.fit_transform(df[numeric_cols])


from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes  import GaussianNB

x=df.drop('variety',axis=1)
y=df["variety"]

X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
le=LogisticRegression()
le.fit(X_train,y_train)
y_pred=le.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test,y_pred))
print("\nClassification Report (Logistic Regression):\n", classification_report(y_test, y_pred))


X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
le=GaussianNB()
le.fit(X_train,y_train)
y_pred=le.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test,y_pred))
print("\nClassification Report (Logistic Regression):\n", classification_report(y_test, y_pred))

In [ ]:
#Data Cleaning
df.replace('?',np.nan,inplace=True)
df.dropna(inplace=True)
df=df.apply(pd.to_numeric)

for column in df.columns:
    df=df[df[column]>=0]
df_cleaned=df

from scipy.stats import zscore
numerical_cols = ['AGE', 'BILIRUBIN', 'ALK_PHOSPHATE', 'SGOT', 'ALBUMIN', 'PROTIME']
z_scores = np.abs(zscore(df[numerical_cols]))
df_cleaned = df[(z_scores < 3).all(axis=1)]

from sklearn.preprocessing import LabelEncoder, StandardScaler

df_transformed = df_cleaned.copy()
le = LabelEncoder()

# Encode categorical columns
categorical_cols = ['SEX', 'STEROID', 'ANTIVIRALS', 'FATIGUE', 'MALAISE',
                    'ANOREXIA', 'LIVER_BIG', 'LIVER_FIRM', 'SPLEEN_PALPABLE',
                    'SPIDERS', 'ASCITES', 'VARICES', 'HISTOLOGY', 'Class']

for col in categorical_cols:
    df_transformed[col] = le.fit_transform(df_transformed[col])

# Scale numerical features
scaler = StandardScaler()
df_transformed[numerical_cols] = scaler.fit_transform(df_transformed[numerical_cols])


X=df_transformed.drop('Class',axis=1)
y=df_transformed['Class']


scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)


#Splitting the dataset into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X_scaled,y,test_size=0.2,random_state=42)

# Logistic Regression
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_test)

#Naive Bayes
nb=GaussianNB()
nb.fit(X_train,y_train)
y_pred_nb=nb.predict(X_test)

# Accuracy and classification reports
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_lr))
print("Naive Bayes Accuracy:", accuracy_score(y_test, y_pred_nb))

print("\n--- Logistic Regression Report ---\n", classification_report(y_test, y_pred_lr))
print("\n--- Naive Bayes Report ---\n", classification_report(y_test, y_pred_nb))