In [2]:
import pandas as pd

In [7]:
df_old=pd.read_csv('./DSBDALExam DataSets/dataset_Facebook.csv')
df_old

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[500 rows x 1 columns]

In [8]:

df=pd.read_csv('./DSBDALExam DataSets/dataset_Facebook.csv',delimiter=';')
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [ ]:
df.head(5)
df.info()
df.describe()
df.sum()
df.isnull().sum()

df.dropna()
df.fillna(0)
df.fillna(method='ffill')
df.fillna(df.mean(),inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [19]:
df['Type'].unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

In [13]:
photo_posts=df[df['Type']=='Status']
print(photo_posts)

status_posts=df[df['Type']=='Photo']
print(status_posts)

     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
1              139441  Status         2          12             3         10
5              139441  Status         2          12             1          9
8              139441  Status         2          12             7          3
10             139441  Status         2          12             5         10
15             138414  Status         2          12             3         10
18             138414  Status         3          12             2          3
24             138414  Status         2          12             6         10
25             138458  Status         2          12             6          3
26             138458  Status         2          12             5         11
38             138895  Status         2          12             7          9
40             138895  Status         2          12             6         11
46             138353  Status         1          12             3         11
72             137893  Status         3          11             4         11
80             137177  Status         2          11             7          3
84             137177  Status         3          11             5          2
98             137020  Status         2          10             5          3
107            136736  Status         2          10             1          4
109            136736  Status         2          10             7          3
121            136393  Status         2          10             7          9
138            136013  Status         2          10             5          3
141            136013  Status         3          10             3         10
142            136013  Status         2          10             3          2
148            135713  Status         2          10             7          4
163            135617  Status         2           9             6          4
172            135195  Status         2           9             1         10
175            135195  Status         2           9             6         10
180            134879  Status         2           9             4          4
202            132817  Status         2           8             3          2
217            131956  Status         2           8             2         12
222            131808  Status         2           8             7          4
223            131808  Status         2           8             6         10
225            131808  Status         2           7             5         14
232            131630  Status         2           7             2          6
235            131300  Status         2           7             7         10
242            130791  Status         2           7             4          6
253            129600  Status         2           7             5         12
267            128032  Status         2           7             5         10
275            126424  Status         2           7             3         13
282            126345  Status         2           6             7         11
285            126141  Status         2           6             6          4
334            119198  Status         2           5             1          2
352            116435  Status         1           5             4          3
362            116091  Status         2           5             5          7
371            113028  Status         2           4             6          3
416            104070  Status         1           3             3         15

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
1     0.0                      10460                            19057
5     0.0                      10472                            20849
8     0.0                      11844                            22538
10    0.0                      21744                            42334
15    0.0                      10060                            19680
18    0.0                       3930                             7509
24    0.0                       8488                            15294
25    0.0                       8284                            15104
26    0.0                      19552                            34143
38    0.0                      17576                            33058
40    0.0                      13280                            24198
46    0.0                      16576                            30612
72    0.0                       9056                            16362
80    0.0                       8728                            17827
84    0.0                       6692                            13092
98    1.0                      12468                            24917
107   0.0                       9504                            19556
109   0.0                      13872                            27468
121   0.0                      15816                            30514
138   0.0                       8896                            17202
141   0.0                      13152                            25666
142   1.0                      31136                            59964
148   0.0                      10744                            20691
163   0.0                      11096                            21080
172   0.0                      21256                            41906
175   1.0                      13216                            24738
180   1.0                       9124                            17776
202   1.0                       9236                            16054
217   0.0                      14424                            26000
222   0.0                       8260                            14305
223   1.0                      20168                            35904
225   0.0                      15296                            25269
232   1.0                      10824                            20573
235   0.0                      10956                            19279
242   0.0                      17360                            33613
253   1.0                      15576                            27513
267   0.0                      10188                            16978
275   0.0                      18320                            31448
282   0.0                      12044                            20327
285   0.0                       8628                            14847
334   0.0                      10152                            17099
352   1.0                      23832                            42313
362   0.0                       9232                            16811
371   1.0                      17912                            34774
416   0.0                       9120                            14759

     Lifetime Engaged Users  Lifetime Post Consumers  \
1                      1457                     1361
5                      1191                     1073
8                      1530                     1407
10                     4258                     4100
15                     1264                     1209
18                      130                       86
24                     1341                     1270
25                     1521                     1462
26                     2806                     2531
38                     5352                     5202
40                     2055                     1912
46                     3572                     3464
72                     1006                      847
80                     2295                     2235
84                      199                      108
98                     2143                     1966
107                    1132                     1032
109                    2664                     2570
121                    2733                     2654
138                    1480                     1426
141                    2543                     2438
142                    6164                     5934
148                    1967                     1877
163                    1843                     1724
172                    4840                     4754
175                    2675                     2584
180                    1476                     1397
202                    1151                     1130
217                     304                      286
222                     997                      953
223                    3370                     3244
225                    2827                     2781
232                     135                      126
235                     128                      119
242                    2573                     2448
253                    2417                     2327
267                    1473                     1441
275                    3742                     3682
282                    2240                     2193
285                     870                      843
334                    1636                     1599
352                    1701                     1570
362                     908                      861
371                    2750                     2567
416                     951                      937

     Lifetime Post Consumptions  \
1                          1674
5                          1389
8                          1692
10                         4540
15                         1425
18                          112
24                         1489
25                         1711
26                         3420
38                         6547
40                         2720
46                         4802
72                         1153
80                         2828
84                          141
98                         2576
107                        1512
109                        3395
121                        3289
138                        1932
141                        3179
142                        9237
148                        2201
163                        2106
172                        5906
175                        2969
180                        1797
202                        1560
217                         383
222                        1211
223                        5106
225                        3627
232                         153
235                         130
242                        6017
253                        3098
267                        2136
275                        7854
282                        3599
285                        1692
334                        2755
352                        2838
362                        1967
371                        6591
416                        1290

     Lifetime Post Impressions by people who have liked your Page  \
1                                                11710
5                                                16034
8                                                15220
10                                               37849
15                                               17272
18                                                5009
24                                                9684
25                                               10266
26                                               17748
38                                               23135
40                                               17627
46                                               24363
72                                                9562
80                                               15418
84                                                7549
98                                               15850
107                                              16018
109                                              20198
121                                              23584
138                                              13838
141                                              20547
142                                              35977
148                                              17502
163                                              16095
172                                              35455
175                                              19599
180                                              13887
202                                              14014
217                                              25539
222                                              12905
223                                              26881
225                                              22103
232                                              20030
235                                              18838
242                                              23338
253                                              19078
267                                              14450
275                                              25584
282                                              17717
285                                              11970
334                                              15382
352                                              37816
362                                              12996
371                                              21009
416                                              13246

     Lifetime Post reach by people who like your Page  \
1                                                6112
5                                                7852
8                                                7912
10                                              18952
15                                               8548
18                                               2410
24                                               5244
25                                               5372
26                                               9824
38                                              11792
40                                               9344
46                                              12888
72                                               5180
80                                               7344
84                                               3336
98                                               7636
107                                              7616
109                                             10432
121                                             11912
138                                              7020
141                                             10280
142                                             18048
148                                              8964
163                                              8120
172                                             17592
175                                             10232
180                                              7092
202                                              7880
217                                             14056
222                                              7360
223                                             15056
225                                             13296
232                                             10384
235                                             10564
242                                             11800
253                                             10840
267                                              8536
275                                             14920
282                                             10400
285                                              6796
334                                              8980
352                                             21352
362                                              7200
371                                             11408
416                                              8004

     Lifetime People who have liked your Page and engaged with your post  \
1                                                 1108
5                                                 1016
8                                                 1250
10                                                3798
15                                                1162
18                                                 101
24                                                 995
25                                                1200
26                                                1779
38                                                4104
40                                                1716
46                                                3014
72                                                 740
80                                                2099
84                                                 156
98                                                1661
107                                                981
109                                               2252
121                                               2361
138                                               1292
141                                               2278
142                                               4376
148                                               1834
163                                               1604
172                                               4318
175                                               2342
180                                               1331
202                                               1075
217                                                291
222                                                956
223                                               2806
225                                               2602
232                                                126
235                                                123
242                                               1905
253                                               1839
267                                               1395
275                                               3300
282                                               2119
285                                                774
334                                               1613
352                                               1578
362                                                843
371                                               2256
416                                                924

     comment   like  share  Total Interactions
1          5  130.0   29.0                 164
5          1  152.0   33.0                 186
8          0  161.0   31.0                 192
10         0  233.0   19.0                 252
15         4   86.0   18.0                 108
18         4   54.0   17.0                  75
24         3   99.0   19.0                 121
25         0   88.0   18.0                 106
26        10  412.0   72.0                 494
38        11  227.0   31.0                 269
40         7  216.0   39.0                 262
46         4  174.0   36.0                 214
72         3  226.0   44.0                 273
80         2   86.0   13.0                 101
84         2   99.0   16.0                 117
98         7  310.0   61.0                 378
107       17  193.0   28.0                 238
109        4  217.0   50.0                 271
121        6  186.0   40.0                 232
138        0  129.0   25.0                 154
141        2  227.0   36.0                 265
142       60  859.0   90.0                1009
148        3  148.0   28.0                 179
163        4  243.0   41.0                 288
172       38  163.0   27.0                 228
175        2  165.0   22.0                 189
180       20  150.0   29.0                 199
202        2   53.0   15.0                  70
217       41   15.0    1.0                  57
222        1   74.0   11.0                  86
223       18  332.0   54.0                 404
225        9   95.0   17.0                 121
232        6   14.0    1.0                  21
235        3   13.0    1.0                  17
242        9  484.0   79.0                 572

In [ ]:
#column
# subset1= df[['comment','Type']]
# print(subset1)

# subset2= df[['like','share']]
# print(subset2)

# Row
# photo_posts = df[df['Type'] == 'Photo']
# photo_posts

data1={
'key': ['K0', 'K1', 'K2', 'K3'],
'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
'Age':[27, 24, 22, 32],}

data2={
    'key': ['K0', 'K1', 'K2', 'K3'],
    'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
}

df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

m_d=pd.merge(df1,df2,on='key')
m_d

In [14]:
merged_posts=pd.concat([photo_posts,status_posts],ignore_index=0)
merged_posts

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
15,138414,Status,2,12,3,10,0.0,10060,19680,1264,1209,1425,17272,8548,1162,4,86.0,18.0,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [ ]:
# Convert 'Page total likes' to numeric
df['Page total likes'] = pd.to_numeric(df['Page total likes'], errors='coerce')

merged_posts.sort_values(by='Page total likes',ascending=False)  #Sort in descending order

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [16]:
merged_posts.transpose() #This flips rows and columns.

,1,5,8,10,15,18,24,25,26,38,...,489,490,491,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,138414,138414,138414,138458,138458,138895,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Status,Status,Status,Status,Status,Status,Status,Status,Status,Status,...,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,2,2,2,3,2,2,2,2,...,3,3,3,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,3,1,7,5,3,2,6,6,5,7,...,7,6,6,1,7,7,5,5,4,4
Post Hour,10,9,3,10,10,3,10,3,11,9,...,2,11,3,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,10460,10472,11844,21744,10060,3930,8488,8284,19552,17576,...,4800,5280,6184,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,19057,20849,22538,42334,19680,7509,15294,15104,34143,33058,...,7754,8703,10228,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,1457,1191,1530,4258,1264,130,1341,1521,2806,5352,...,975,951,956,1179,810,733,537,625,626,564
Lifetime Post Consumers,1361,1073,1407,4100,1209,86,1270,1462,2531,5202,...,938,911,901,1111,756,708,508,572,574,524
Lifetime Post Consumptions,1674,1389,1692,4540,1425,112,1489,1711,3420,6547,...,1278,1237,1140,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,11710,16034,15220,37849,17272,5009,9684,10266,17748,23135,...,4932,5757,6085,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,6112,7852,7912,18952,8548,2410,5244,5372,9824,11792,...,2820,3300,3502,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,1108,1016,1250,3798,1162,101,995,1200,1779,4104,...,432,431,437,699,422,392,301,363,370,316
comment,5,1,0,0,4,4,3,0,10,11,...,1,1,1,17,10,5,0,4,7,0
like,130.0,152.0,161.0,233.0,86.0,54.0,99.0,88.0,412.0,227.0,...,74.0,79.0,105.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,29.0,33.0,31.0,19.0,18.0,17.0,19.0,18.0,72.0,31.0,...,28.0,30.0,46.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,164,186,192,252,108,75,121,106,494,269,...,103,110,152,257,176,84,75,115,136,119

In [17]:
# melt(): Transforms data from wide format to long format. You gather many columns into one.
# pivot(): Transforms data from long format to wide format. You spread out one column into many.


melted_df = pd.melt(df,id_vars=['Type'],value_vars=['comment', 'share','like'],var_name='Engagement_Type',value_name='Engagement_Value')
# id_vars:Columns to keep as identifiers (these columns will remain as they are).
# value_vars:Columns that you want to melt into a single column.
# var_name:The name of the new column created from the melted column headers (variables).
# value_name:The name of the new column that holds the values.

melted_df

        Type Engagement_Type  Engagement_Value
0      Photo         comment               4.0
1     Status         comment               5.0
2      Photo         comment               0.0
3      Photo         comment              58.0
4      Photo         comment              19.0
...      ...             ...               ...
1495   Photo            like              53.0
1496   Photo            like              53.0
1497   Photo            like              93.0
1498   Photo            like              91.0
1499   Photo            like              91.0

[1500 rows x 3 columns]

In [18]:
wide_df = melted_df.pivot_table(index=['Type'],columns='Engagement_Type',values='Engagement_Value',aggfunc='mean').reset_index()
print(wide_df)

# ðŸ“Œ index=['Type']
# This tells Pandas to group rows by the Type column.
# Each unique value in 'Type' (e.g., Photo, Status, Link, Video) will become a row in the output

# ðŸ“Œ columns='Engagement_Type'
# This determines the new column names in the wide-format table.
# Values in the 'Engagement_Type' column (e.g., 'like', 'share', 'comment', etc.) will become separate columns in the new DataFrame.


# ðŸ“Œ values='Engagement_Value'
# This is the actual data you want to fill into the table.
# Values from the 'Engagement_Value' column (numeric values like 45 likes, 10 comments) are placed into the corresponding cells.

# ðŸ“Œ aggfunc='mean'
# If there are multiple rows with the same Type and Engagement_Type, this tells Pandas to take the average (mean) of their values.
# You can change this to 'sum', 'max', 'min', etc., depending on what kind of aggregation you want.

Engagement_Type    Type    comment        like      share
0                  Link   2.818182   73.318182  12.909091
1                 Photo   7.492958  182.611765  27.158768
2                Status   8.911111  176.711111  31.422222
3                 Video  12.285714  231.428571  52.142857

In [4]:
idf=pd.read_csv('./DSBDALExam DataSets/Iris/iris.csv',delimiter=',')
idf

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [5]:
idf['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [8]:
df_Setosa=idf[idf['variety']=='Setosa']
df_Versicolor=idf[idf['variety']=='Versicolor']   
df_Virginica=idf[idf['variety']=='Virginica']
print(df_Virginica)

     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica
105           7.6          3.0           6.6          2.1  Virginica
106           4.9          2.5           4.5          1.7  Virginica
107           7.3          2.9           6.3          1.8  Virginica
108           6.7          2.5           5.8          1.8  Virginica
109           7.2          3.6           6.1          2.5  Virginica
110           6.5          3.2           5.1          2.0  Virginica
111           6.4          2.7           5.3          1.9  Virginica
112           6.8          3.0           5.5          2.1  Virginica
113           5.7          2.5           5.0          2.0  Virginica
114           5.8          2.8           5.1          2.4  Virginica
115           6.4          3.2           5.3          2.3  Virginica
116           6.5          3.0           5.5          1.8  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
119           6.0          2.2           5.0          1.5  Virginica
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [9]:
df=pd.concat([df_Setosa,df_Versicolor,df_Virginica],ignore_index=0)
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [10]:
df.sort_values(by='petal.length')

     sepal.length  sepal.width  petal.length  petal.width    variety
22            4.6          3.6           1.0          0.2     Setosa
13            4.3          3.0           1.1          0.1     Setosa
14            5.8          4.0           1.2          0.2     Setosa
35            5.0          3.2           1.2          0.2     Setosa
36            5.5          3.5           1.3          0.2     Setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  Virginica
105           7.6          3.0           6.6          2.1  Virginica
117           7.7          3.8           6.7          2.2  Virginica
122           7.7          2.8           6.7          2.0  Virginica
118           7.7          2.6           6.9          2.3  Virginica

[150 rows x 5 columns]

In [11]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal.length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal.width,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal.length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal.width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
variety,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,...,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica

In [12]:
df_melt=pd.melt(df,id_vars=['variety'],value_vars=['sepal.length','sepal.width','petal.length','petal.width'],var_name='Measurement_Type',value_name='Measurement_Value')
df_melt

       variety Measurement_Type  Measurement_Value
0       Setosa     sepal.length                5.1
1       Setosa     sepal.length                4.9
2       Setosa     sepal.length                4.7
3       Setosa     sepal.length                4.6
4       Setosa     sepal.length                5.0
..         ...              ...                ...
595  Virginica      petal.width                2.3
596  Virginica      petal.width                1.9
597  Virginica      petal.width                2.0
598  Virginica      petal.width                2.3
599  Virginica      petal.width                1.8

[600 rows x 3 columns]

In [14]:
cast_df=df_melt.pivot_table(index=['variety'],columns='Measurement_Type',values='Measurement_Value',aggfunc='first').reset_index()
print(cast_df)

Measurement_Type     variety  petal.length  petal.width  sepal.length  \
0                     Setosa           1.4          0.2           5.1
1                 Versicolor           4.7          1.4           7.0
2                  Virginica           6.0          2.5           6.3

Measurement_Type  sepal.width
0                         3.5
1                         3.2
2                         3.3

In [ ]:
idf['variety'].unique()

df_Setosa=idf[idf['variety']=='Setosa']
df_Versicolor=idf[idf['variety']=='Versicolor']   
df_Virginica=idf[idf['variety']=='Virginica']


df=pd.concat([df_Setosa,df_Versicolor,df_Virginica],ignore_index=0)
df.sort_values(by='petal.length')
df.transpose()
df_melt=pd.melt(df,id_vars=['variety'],value_vars=['sepal.length','sepal.width','petal.length','petal.width'],var_name='Measurement_Type',value_name='Measurement_Value')
cast_df=df_melt.pivot_table(index=['variety'],columns='Measurement_Type',values='Measurement_Value',aggfunc='first').reset_index()

In [ ]:
us_subset = df[df['native-country'] == 'United-States']
male_subset = df[df['gender'] == 'Male']
white_subset = df[df['race'] == 'White']

merged_df = pd.concat([us_subset, male_subset, white_subset], ignore_index=True)
sorted_df = merged_df.sort_values(by='hours-per-week', ascending=False)
transposed_df = sorted_df.T
melted_df = pd.melt(sorted_df, id_vars=['age', 'income'], value_vars=['workclass', 'education', 'capital-gain', 'hours-per-week'])
pivot_table_df = melted_df.pivot_table(index='age',columns='variable',values='value',aggfunc='first').reset_index()

In [ ]:
english_movies = df[df['original_language'] == 'en']
french_movies = df[df['original_language'] == 'fr']

merged_movies = pd.concat([english_movies, french_movies], ignore_index=True)
sorted_movies = merged_movies.sort_values(by='vote_average', ascending=False)
transposed_movies = sorted_movies.T
melted_movies = pd.melt(sorted_movies, id_vars=['original_title', 'original_language'], value_vars=['vote_average', 'genres'])
pivoted_movies = melted_movies.pivot_table(index='original_title', columns='original_language', values='vote_average', aggfunc='first')

In [ ]:
def classify_area(area):
    if area == 0:
        return 'NotAffected'
    elif 0 < area <= 10:
        return 'PartiallyAffected'
    else:
        return 'MostlyAffected'

df['area_class'] = df['area'].apply(classify_area)

partially_affected = df[df['area_class'] == 'PartiallyAffected']
mostly_affected = df[df['area_class'] == 'MostlyAffected']

merged_df = pd.concat([partially_affected, mostly_affected], ignore_index=True)
sorted_df = df.sort_values(by=['temp', 'wind', 'area'], ascending=False)
transposed_df = df.T

melted_df = pd.melt(df, id_vars=['X', 'Y', 'month', 'day'], value_vars=['FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain', 'area'])
pivoted_df = df.pivot_table(index='X', columns='month', values='temp', aggfunc='mean')