In [4]:
import pandas as pd
from IPython.display import display
df=pd.read_csv('iris.csv')

display(df)
display(df.columns)

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')

In [5]:
# a. Create data subsets for different species  

species1=df[df['class']=='Iris-setosa']

species2=df[df['class']=='Iris-versicolor']

species3=df[df['class']=='Iris-virginica']


display(species1.head())
display(species2.head())
display(species3.head())

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

    sepal_length  sepal_width  petal_length  petal_width            class
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor

     sepal_length  sepal_width  petal_length  petal_width           class
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica
104           6.5          3.0           5.8          2.2  Iris-virginica

In [6]:
# b. Merge two subsets

merged_data=pd.concat([species1,species2])
display(merged_data)

    sepal_length  sepal_width  petal_length  petal_width            class
0            5.1          3.5           1.4          0.2      Iris-setosa
1            4.9          3.0           1.4          0.2      Iris-setosa
2            4.7          3.2           1.3          0.2      Iris-setosa
3            4.6          3.1           1.5          0.2      Iris-setosa
4            5.0          3.6           1.4          0.2      Iris-setosa
..           ...          ...           ...          ...              ...
95           5.7          3.0           4.2          1.2  Iris-versicolor
96           5.7          2.9           4.2          1.3  Iris-versicolor
97           6.2          2.9           4.3          1.3  Iris-versicolor
98           5.1          2.5           3.0          1.1  Iris-versicolor
99           5.7          2.8           4.1          1.3  Iris-versicolor

[100 rows x 5 columns]

In [19]:
# c. sort data Petal Length

sorted_data=df.sort_values(by='petal_length',ascending=False)

display(sorted_data)

     sepal_length  sepal_width  petal_length  petal_width           class
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
105           7.6          3.0           6.6          2.1  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
..            ...          ...           ...          ...             ...
36            5.5          3.5           1.3          0.2     Iris-setosa
35            5.0          3.2           1.2          0.2     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa

[150 rows x 5 columns]

In [20]:
# d. Transposing Data

transposed_data=df.transpose()
display(transposed_data)

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal_length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal_width,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal_length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal_width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
class,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [21]:
# e. Melting Data to long format

melted_data= pd.melt(df,id_vars=['class'],value_vars=['sepal_length','sepal_width','petal_length','petal_width'])
display(melted_data)

              class      variable  value
0       Iris-setosa  sepal_length    5.1
1       Iris-setosa  sepal_length    4.9
2       Iris-setosa  sepal_length    4.7
3       Iris-setosa  sepal_length    4.6
4       Iris-setosa  sepal_length    5.0
..              ...           ...    ...
595  Iris-virginica   petal_width    2.3
596  Iris-virginica   petal_width    1.9
597  Iris-virginica   petal_width    2.0
598  Iris-virginica   petal_width    2.3
599  Iris-virginica   petal_width    1.8

[600 rows x 3 columns]

In [22]:
# f. Casting data to wide format 

wide_data=melted_data.pivot_table(index='class',columns='variable',values='value',aggfunc='sum').reset_index()

display(wide_data)

variable,class,petal_length,petal_width,sepal_length,sepal_width
0,Iris-setosa,73.2,12.2,250.3,170.9
1,Iris-versicolor,213.0,66.3,296.8,138.5
2,Iris-virginica,277.6,101.3,329.4,148.7