In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Iris.csv",sep=",")

In [4]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [5]:
df.columns = ["SpealWidthCm","SepalheightCm","PetalWidthCm","PetalHeightCm","Species"]
df.head()

   SpealWidthCm  SepalheightCm  PetalWidthCm  PetalHeightCm      Species
0           4.9            3.0           1.4            0.2  Iris-setosa
1           4.7            3.2           1.3            0.2  Iris-setosa
2           4.6            3.1           1.5            0.2  Iris-setosa
3           5.0            3.6           1.4            0.2  Iris-setosa
4           5.4            3.9           1.7            0.4  Iris-setosa

In [6]:
df.isnull().sum()

SpealWidthCm     0
SepalheightCm    0
PetalWidthCm     0
PetalHeightCm    0
Species          0
dtype: int64

In [7]:
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [8]:
df_Iris_Setosa = df[df["Species"] == "Iris-setosa"]
df_Iris_Setosa.head()

   SpealWidthCm  SepalheightCm  PetalWidthCm  PetalHeightCm      Species
0           4.9            3.0           1.4            0.2  Iris-setosa
1           4.7            3.2           1.3            0.2  Iris-setosa
2           4.6            3.1           1.5            0.2  Iris-setosa
3           5.0            3.6           1.4            0.2  Iris-setosa
4           5.4            3.9           1.7            0.4  Iris-setosa

In [9]:
df.shape

(149, 5)

In [10]:
df_Iris_Versicolor = df[df["Species"] == "Iris-versicolor"]
df_Iris_Versicolor.head()

    SpealWidthCm  SepalheightCm  PetalWidthCm  PetalHeightCm          Species
49           7.0            3.2           4.7            1.4  Iris-versicolor
50           6.4            3.2           4.5            1.5  Iris-versicolor
51           6.9            3.1           4.9            1.5  Iris-versicolor
52           5.5            2.3           4.0            1.3  Iris-versicolor
53           6.5            2.8           4.6            1.5  Iris-versicolor

In [12]:
df_Iris_Versicolor.shape

(50, 5)

In [11]:
df_merge_Sv = pd.concat([df_Iris_Setosa,df_Iris_Versicolor])
df_merge_Sv

    SpealWidthCm  SepalheightCm  PetalWidthCm  PetalHeightCm          Species
0            4.9            3.0           1.4            0.2      Iris-setosa
1            4.7            3.2           1.3            0.2      Iris-setosa
2            4.6            3.1           1.5            0.2      Iris-setosa
3            5.0            3.6           1.4            0.2      Iris-setosa
4            5.4            3.9           1.7            0.4      Iris-setosa
..           ...            ...           ...            ...              ...
94           5.7            3.0           4.2            1.2  Iris-versicolor
95           5.7            2.9           4.2            1.3  Iris-versicolor
96           6.2            2.9           4.3            1.3  Iris-versicolor
97           5.1            2.5           3.0            1.1  Iris-versicolor
98           5.7            2.8           4.1            1.3  Iris-versicolor

[99 rows x 5 columns]

In [13]:
df_sort_petal_length = df.sort_values(by=["PetalWidthCm"])
df_sort_petal_length

     SpealWidthCm  SepalheightCm  PetalWidthCm  PetalHeightCm         Species
21            4.6            3.6           1.0            0.2     Iris-setosa
12            4.3            3.0           1.1            0.1     Iris-setosa
34            5.0            3.2           1.2            0.2     Iris-setosa
13            5.8            4.0           1.2            0.2     Iris-setosa
37            4.4            3.0           1.3            0.2     Iris-setosa
..            ...            ...           ...            ...             ...
130           7.9            3.8           6.4            2.0  Iris-virginica
104           7.6            3.0           6.6            2.1  Iris-virginica
121           7.7            2.8           6.7            2.0  Iris-virginica
116           7.7            3.8           6.7            2.2  Iris-virginica
117           7.7            2.6           6.9            2.3  Iris-virginica

[149 rows x 5 columns]

In [16]:
data_Transpose = df.transpose()

In [17]:
data_Transpose

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
SpealWidthCm,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,5.4,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SepalheightCm,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,3.7,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PetalWidthCm,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PetalHeightCm,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,0.2,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [18]:
df_melted = pd.melt(df,id_vars=["SpealWidthCm","PetalWidthCm","Species"])
df_melted.head()

   SpealWidthCm  PetalWidthCm      Species       variable  value
0           4.9           1.4  Iris-setosa  SepalheightCm    3.0
1           4.7           1.3  Iris-setosa  SepalheightCm    3.2
2           4.6           1.5  Iris-setosa  SepalheightCm    3.1
3           5.0           1.4  Iris-setosa  SepalheightCm    3.6
4           5.4           1.7  Iris-setosa  SepalheightCm    3.9

In [19]:
df_casting = pd.pivot_table(df,index=["Species"])
df_casting.head()

                 PetalHeightCm  PetalWidthCm  SepalheightCm  SpealWidthCm
Species
Iris-setosa           0.244898      1.465306       3.416327      5.004082
Iris-versicolor       1.326000      4.260000       2.770000      5.936000
Iris-virginica        2.026000      5.552000       2.974000      6.588000